# Python cache
__pycache__/
*.py[cod]
*$py.class
*.pyo

# Virtual environments
.venv/
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Environment files
.env

# OS and IDE specific files
Thumbs.db
.DS_Store
.vscode/
.idea/

# C++ build artifacts
*.o
*.out
obj/
obj_json/
